@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: 0
}
body{
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none
}